<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href='/img/weather.svg'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Hugh Nguyen as a part of learning Node.js</p>
        <img class='portrait' src="/img/profile.jpg" />
    </div>
    {{>footer}}
</body>

</html>
